{% extends "base.html" %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'css/registration.css'%}">{% endblock css %}
{% block content %}
<div class="main-section">
    <div class="container-2">
        <div class="registration-heading">
            <h1 class="label">Change Password</h1>
        </div>
         <!-- Error message display -->
         {% if form.errors %}
         <ul>
             {% for field, errors in form.errors.items %}
                 {% for error in errors %}
                     <li>{{ field|title }}: {{ error }}</li>
                 {% endfor %}
             {% endfor %}
         </ul>
         {% endif %}
       <!-- Other HTML content -->
        <form class="login_form" action="{% url 'password_change' %}" method="post" name="form" onsubmit="return validated()">
            {% csrf_token %}
            <div class="font">Old Password</div>
            {{ form.old_password }}
            <div id="email_error">Please fill up your Old Password</div>

            <div class="font">New Password</div>
            {{ form.new_password1 }}
            <div id="email_error">Please fill up your New Password</div>

            <div class="font">Confirm Password</div>
            {{ form.new_password2 }}
            <div id="email_error">Please fill up your Confirm Password</div>
            <button type="submit">Change</button>
        </form>
    </div>	
</div>
<script src="registration.js"></script>
{% endblock content %}
