{% extends "base.html" %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'css/registration.css'%}">{% endblock css %}
{% block content %}
<div class="main-section">
    <div class="container-2">
        <div class="registration-heading">
            <h1 class="label">Reset Password</h1>
        </div>
        <!-- Error message display -->
        {% if form.errors %}
        <ul>
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li>{{ field|title }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}
      <!-- Other HTML content -->
        <form class="login_form" action="{% url 'password_reset' %}" method="post" name="form" onsubmit="return validated()">
            {% csrf_token %}
            <div class="font">Email</div>
            {{ form.email }}
            <div id="email_error">Please fill up your Email</div>
            <button type="submit">Reset</button>
        </form>
    </div>	
</div>
<script src="registration.js"></script>
{% endblock content %}